# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyd
*.pyo

# Environment
.env
*.env
.venv/
env/
ENV/
venv/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# MacOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Logs
*.log

# Streamlit
.streamlit/

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Package managers files
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.* 
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
.venv/
env/
venv/
envfolder
envfolder/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# VS Code
.vscode/

# JetBrains IDEs
.idea/
